@use '../abstracts/colors';
@use '../abstracts/fonts';

.banner {
  width: 100%;
  margin-top: -0.7em;
  padding: 1em 0;
  color: colors.$primary-color;
  background: colors.$banner-color;
  font-size: 4rem;
  font-weight: map-get(fonts.$font-weight, semi-bold);
  letter-spacing: 0.1em;
  text-align: center;
}
