@use '../abstracts/colors';
@use '../abstracts/fonts';
@use './media';

// disabled btn
.disabled-btn {
  padding: 0.75em 1.5em;
  font-size: 1.125rem;
  font-weight: map-get(fonts.$font-weight, medium);
  background: colors.$disabled-color;
  color: colors.$text-color;
  pointer-events: none;
}

// button inside the input field
.button-input {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1em;
  background: colors.$accent-color;
  border-radius: 0 5px 5px 0;
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease;
  &:hover {
    background: colors.$secondary-color;
  }
}
// Apply Button
.apply-btn {
  position: absolute;
  top: 16%;
  right: 2px;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: map-get(fonts.$font-weight, medium);
  background: colors.$accent-color;
  color: colors.$text-color;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  &:hover {
    background: colors.$secondary-color;
  }
}

// quantity buttons
.minus-btn {
  font-size: 1.5rem;
  width: 45px;
  // color: colors.$light-color;
  border: 1px solid colors.$light-color;
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.plus-btn {
  font-size: 1.5rem;
  width: 45px;
  // color: colors.$light-color;
  border: 1px solid colors.$light-color;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

// login button
.login {
  width: 380px;
  max-width: 100%;
  padding: 0.8em 1em;
  font-size: 1.125rem;
  font-weight: map-get(fonts.$font-weight, medium);
  background: colors.$accent-color;
  color: colors.$text-color;
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    background: colors.$secondary-color;
  }
}
// sign up btn
.signup {
  @extend .login;
}

// button
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn {
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

// login button in the nav links
.login-nav {
  display: none;
}

//primary button
.primary-btn {
  z-index: 1;
  padding: 0.75em 1.5em;
  font-size: 1.125rem;
  font-weight: map-get(fonts.$font-weight, medium);
  color: colors.$text-color;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.16);
  transition: all 0.25s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px;
    background: colors.$accent-color;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px;
    background: colors.$secondary-color;
    transform: scale(0, 1);
    transform-origin: left;
    transition: all 0.5s ease;
  }
  &:hover {
    box-shadow: 0px 45px 60px rgba(0, 0, 0, 0.16);
  }
  &:hover::after {
    transform: scale(1, 1);
  }

  @include media.smallMobile {
    font-size: 1rem;
  }
}
//secondary button
.secondary-btn {
  z-index: 1;
  padding: 0.75em 1.5em;
  font-size: 1.125rem;
  font-weight: map-get(fonts.$font-weight, medium);
  color: colors.$text-color;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.25s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px;
    background: colors.$light-color;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px;
    background: colors.$accent-color;
    transform: scale(0, 1);
    transform-origin: left;
    transition: all 0.5s ease;
  }
  &:hover {
    box-shadow: 0px 45px 60px rgba(0, 0, 0, 0.16);
  }
  &:hover::after {
    transform: scale(1, 1);
  }

  @include media.smallMobile {
    font-size: 1rem;
  }
}

// outline primary button
.outline-primary-btn {
  padding: 0.5em 1.5em;
  font-size: 1.125rem;
  font-weight: map-get(fonts.$font-weight, medium);
  color: colors.$accent-color;
  transition: color 0.5s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid colors.$accent-color;
    border-radius: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px;
    background: colors.$accent-color;
    transform: scale(0, 1);
    transition: all 0.5s ease;
  }
  &:hover {
    color: colors.$text-color;
  }
  &:hover::after {
    transform: scale(1, 1);
  }
}
// outline light button
.outline-light-btn {
  padding: 0.5em 1.5em;
  font-size: 1.25rem;
  font-weight: map-get(fonts.$font-weight, medium);
  color: colors.$text-color;
  transition: color 0.5s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid colors.$text-color;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px;
    background: colors.$light-color;
    transform: scale(0, 1);
    transition: all 0.5s ease;
  }
  &:hover {
    color: colors.$text-color;
  }
  &:hover::before {
    border-color: colors.$light-color;
  }
  &:hover::after {
    transform: scale(1, 1);
  }
  @include media.smallMobile {
    font-size: 1rem;
  }
}
