@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../layout/flex';
@use '../layout/grid';

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
button,
select {
  font-family: fonts.$font-stack;
}
body {
  background: colors.$body-color;
  line-height: 1.6;
}
.page-container {
  @include flex.flex(flex-start, stretch, column);
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
.container {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2em;
}
.flex {
  @include flex.flex(space-between, center, row);
}
.grid {
  @include grid.grid(1fr 1fr, none, none, 0);
}
