@use "../abstracts/colors";
@use "../abstracts/fonts";
@use "../layout/flex";
@use "../components/media";

#our-story {
  padding: 8em 0 3em 0;

  .story-container {
    @include flex.flex(flex-start, stretch, row);
    .line {
      width: 120px;
      height: 3px;
      margin: 3em 3em 0 0;
      background: colors.$primary-color;
    }
    .story {
      & h1 {
        font-size: clamp(2.5rem, 5vw, 3.5rem);
        font-weight: map-get(fonts.$font-weight, semi-bold);
        color: colors.$secondary-color;
        letter-spacing: 0.095em;
      }

      & p {
        font-size: clamp(0.8rem, 3vw, 1.25rem);
        font-weight: map-get(fonts.$font-weight, medium);
        color: colors.$primary-color;
        line-height: clamp(2.5rem, 3vw, 2.875rem);

        & span {
          display: block;
        }
      }
    }
  }
}

#mission-vision {
  padding: 2em 0;

  .mission {
    @include flex.flex(space-around, center, row);
    flex-wrap: wrap;
    margin-bottom: 6em;
    .statement {
      margin-bottom: 1em;
      & h1 {
        font-size: clamp(2rem, 5vw, 3.5rem);
        font-weight: map-get(fonts.$font-weight, semi-bold);
        color: colors.$secondary-color;
        letter-spacing: 0.095em;
      }
      & p {
        font-size: clamp(0.875rem, 3vw, 1.75rem);
        font-weight: map-get(fonts.$font-weight, medium);
        color: colors.$primary-color;
        line-height: clamp(2.5rem, 3vw, 3.375rem);
        letter-spacing: 0.095em;

        & span:not(.highlight) {
          display: block;
        }

        .highlight {
          color: colors.$secondary-color;
        }
      }
    }

    & img {
      width: 600px;
      max-width: 100%;
      object-fit: cover;
      margin-bottom: 1em;
    }
  }

  .vision {
    margin-bottom: 0;
    @extend .mission;
  }
}

@include media.portraitTablet {
  .line {
    display: none;
  }
}
