@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../layout/flex';
@use '../layout/grid';
@use '../components/media';

.signup-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 300vw;
    height: 100%;
    border-bottom-left-radius: max(50vw, 50vh);
    border-bottom-right-radius: max(50vw, 50vh);
    background-image: linear-gradient(-45deg, #ed6a4c 0%, #ff7c50 100%);
    transform: translate(-83%, 0);
    transition: all 1.8s ease-in-out 0.4s;
  }
}
.login-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 300vw;
    height: 100%;
    border-bottom-left-radius: max(50vw, 50vh);
    border-bottom-right-radius: max(50vw, 50vh);
    background-image: linear-gradient(-45deg, #ed6a4c 0%, #ff7c50 100%);
    transform: translate(16%, 0);
    transition: all 1.8s ease-in-out 0.4s;
  }
}
.form-container {
  @include grid.grid(1fr 1fr, none, none, 0);
  padding: 8em 0;
}
.login-form {
  justify-self: flex-start;
}
.signup-form {
  justify-self: flex-end;
}
.form-group {
  @include flex.flex(center, center, column);
  .title {
    margin-bottom: 0.4em;
    font-size: 3rem;
    font-weight: map-get(fonts.$font-weight, semi-bold);
    color: colors.$primary-color;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .social {
    margin-bottom: 0.7em;
    .facebook {
      width: 48px;
      height: 48px;
      margin: 0 1em;
      color: colors.$primary-color;
      transition: color 0.5s ease;
      &:hover {
        color: colors.$secondary-color;
      }
    }
    .google {
      @extend .facebook;
    }
  }
  .input-text {
    margin-bottom: 3em;
    font-size: 1.125rem;
    font-weight: map-get(fonts.$font-weight, regular);
    color: colors.$primary-color;
    text-align: center;
  }
  .input-field {
    position: relative;
    width: 380px;
    max-width: 100%;
    margin-bottom: 1.5em;

    .show-password {
      position: absolute;
      top: 1px;
      right: 0;
      padding: 0 1em;
      height: 100%;
    }
    .show-pass {
      width: 22px;
      height: 22px;
      color: colors.$light-color;
      transition: color 0.5s ease-in-out;
      &:hover {
        color: colors.$accent-color;
      }
    }
  }
  .validation {
    @include flex.flex(flex-start, center, row);
    width: 380px;
    max-width: 100%;
    margin-top: -1.5em;
    margin-bottom: 1em;
    font-size: 0.875rem;
    color: colors.$validation-color;

    .error-icon {
      width: 14px;
      height: 14px;
      margin-right: 0.3em;
      color: colors.$validation-color;
    }
  }
  .forgot-pass {
    width: 380px;
    max-width: 100%;
    margin-top: -1.2em;
    margin-bottom: 2em;
    font-size: 1rem;
    font-weight: map-get(fonts.$font-weight, regular);
    text-decoration: none;
    text-align: right;
    color: colors.$accent-color;
    transition: all 0.5s ease;
    &:hover {
      text-decoration: underline;
      color: colors.$secondary-color;
    }
  }
  .agreement-text {
    width: 380px;
    max-width: 100%;
    margin-top: 0.5em;
    font-size: 0.875rem;
    font-weight: map-get(fonts.$font-weight, regular);
    letter-spacing: -0.025em;
    color: colors.$primary-color;
    & a {
      text-decoration: none;
      color: colors.$accent-color;
      transition: all 0.5s ease;
      &:hover {
        text-decoration: underline;
        color: colors.$secondary-color;
      }
    }
  }
}
.panels-container {
  .panel {
    @include flex.flex(space-around, center, column);
    text-align: center;
    transition: all 1s ease-in-out 0.6s;

    .signup-content {
      order: -1;
    }
    .content {
      color: colors.$text-color;
      .panel-title {
        font-size: 3rem;
        font-weight: map-get(fonts.$font-weight, semi-bold);
        letter-spacing: 0.1em;
      }
      .panel-text {
        margin-bottom: 1em;
        font-size: 1.5rem;
        font-weight: map-get(fonts.$font-weight, regular);
        & span {
          display: block;
        }
      }
    }
    .illustration {
      margin-top: 3em;
      width: 30vw;
      object-fit: cover;
    }
  }
}
