@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../layout/flex';
@use '../layout/grid';
@use '../components/banner';
@use '../components/media';

#cart {
  padding: 5em 0 0 0;
  .empty-cart {
    @include flex.flex(center, center, column);
    padding-top: 3em;
    padding-bottom: 4em;
    & img {
      width: 600px;
      max-width: 100%;
      object-fit: cover;
      margin-bottom: 1.5em;
    }
    &-details {
      & h3 {
        font-size: clamp(1.5rem, 5vw, 3rem);
        font-weight: map-get(fonts.$font-weight, semi-bold);
        letter-spacing: 0.1em;
        color: colors.$primary-color;
        text-align: center;
      }
      & p {
        margin-bottom: 2em;
        font-size: clamp(0.875rem, 3vw, 1.25rem);
        font-weight: map-get(fonts.$font-weight, regular);
        text-align: center;
        color: colors.$light-color;
      }
    }
  }
  .cart-wrapper {
    @include grid.grid(1fr auto, none, none, 50px);
    margin: 2em 0 4em 0;
  }
  .cart-container {
    width: 100%;
  }
  .cart-header {
    @include flex.flex(flex-start, center, row);
    margin-top: 2.5em;
    padding-bottom: 0.5em;
    font-size: 1.125rem;
    font-weight: map-get(fonts.$font-weight, medium);
    color: colors.$primary-color;
    border-bottom: 1px solid colors.$disabled-color;

    .label-item {
      flex: 0 0 49%;
    }
    .label-price {
      flex: 0 0 15%;
    }
    .label-quantity {
      flex: 0 0 20%;
    }
  }
  .cart-items {
    @include flex.flex(flex-start, center, row);
    padding: 0.5em 0;
    border-bottom: 1px solid colors.$disabled-color;

    .item-info {
      @include flex.flex(flex-start, center, row);
      flex: 0 0 47%;
      & img {
        width: 130px;
        object-fit: cover;
        margin-right: 1em;
        padding: 0.8em;
        background: #e5e5e5;
        border-radius: 5px;
      }
      .item-label {
        & p {
          font-size: 0.875rem;
          font-weight: map-get(fonts.$font-weight, regular);
          color: colors.$primary-color;
        }
        & .item-name {
          margin-bottom: 0.3em;
          font-size: 1.25rem;
          font-weight: map-get(fonts.$font-weight, semi-bold);
          color: colors.$primary-color;
        }
      }
    }

    .item-price {
      @include flex.flex(space-between, center, row);
      flex: 0 0 14%;

      & span {
        display: none;
        font-size: 1rem;
        font-weight: map-get(fonts.$font-weight, regular);
        color: colors.$primary-color;
      }

      .price-container {
        display: flex;
        align-items: center;
        & p {
          font-size: 1.125rem;
          font-weight: map-get(fonts.$font-weight, regular);
          color: colors.$primary-color;
        }
        .peso-sign {
          width: 18px;
          height: 18px;
          margin-right: 0.2em;
          color: colors.$primary-color;
        }
      }
    }
    .item-total {
      @extend .item-price;
    }
    .item-quantity {
      display: flex;
      justify-content: space-between;
      flex: 0 0 21%;

      & span {
        display: none;
        align-self: center;
        font-size: 1rem;
        font-weight: map-get(fonts.$font-weight, regular);
        color: colors.$primary-color;
      }

      .qty-container {
        display: flex;
      }
    }

    .del-btn {
      @include flex.flex(space-between, center, row);
      .del-icon {
        width: 36px;
        height: 36px;
        padding: 0.5em;
        background: colors.$light-color;
        color: colors.$text-color;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.5s ease;

        &:hover {
          background: colors.$accent-color;
        }
      }

      & span {
        display: none;
        font-size: 1rem;
        font-weight: map-get(fonts.$font-weight, regular);
        color: colors.$primary-color;
      }
    }
  }
  .cont-shop {
    margin-top: 0.8em;
    & a {
      font-size: 1rem;
      font-weight: map-get(fonts.$font-weight, regular);
      text-decoration: none;
      color: colors.$primary-color;
      transition: color 0.5s ease;

      &:hover {
        color: colors.$accent-color;
      }
    }
  }
  .order-summary {
    width: 345px;
    height: 505px;
    margin: 1.5em 0 2.5em 0;
    padding: 1em 1.5em;
    background: colors.$text-color;
    border-radius: 15px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    & h4 {
      padding-bottom: 0.3em;
      font-size: 1.5rem;
      font-weight: map-get(fonts.$font-weight, medium);
      color: colors.$primary-color;
      text-align: center;
      border-bottom: 1px solid colors.$disabled-color;
    }
    & p {
      padding: 0.5em 0;
      font-size: 1rem;
      font-weight: map-get(fonts.$font-weight, regular);
      color: colors.$primary-color;
      border-bottom: 1px solid colors.$disabled-color;
    }
    & .note {
      margin-bottom: 1em;
      padding-top: 0.8em;
      & p {
        padding: 0;
        font-size: 1rem;
        font-weight: map-get(fonts.$font-weight, medium);
        color: colors.$primary-color;
        border: 0;
      }

      .ship-opt {
        padding: 1em;
        font-size: 0.875rem;
        font-weight: map-get(fonts.$font-weight, regular);
        color: colors.$primary-color;
        border: 1px solid colors.$disabled-color;
        border-radius: 5px;

        & span {
          display: block;
        }

        .bold {
          font-weight: map-get(fonts.$font-weight, medium);
        }
      }
    }
    .subtotal-container {
      @include flex.flex(space-between, center, row);
      flex-wrap: wrap;
      margin-bottom: 1em;
      font-size: 1.625rem;
      font-weight: map-get(fonts.$font-weight, medium);
      color: colors.$primary-color;
      .subtotal {
        @include flex.flex(flex-start, center, row);
        .peso-sign {
          width: 26px;
          height: 26px;
          margin-right: 0.2em;
          color: colors.$primary-color;
        }
      }
    }
    .checkout {
      &-btn {
        display: inline-block;
        width: 100%;
      }
      .right-arrow {
        position: relative;
        top: 3px;
        right: -3px;
        height: 100%;
      }
    }
  }

  @include media.landscapeTablet {
    .cart-wrapper {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    .order-summary {
      width: 100%;
      height: fit-content;
    }
  }
  @include media.bigMobile {
    .cart-header {
      display: none;
    }

    .cart-items {
      flex-wrap: wrap;

      .item-info {
        flex: 0 0 100%;
        margin-bottom: 1em;
      }

      .item-price {
        flex: 0 0 30%;
      }

      .item-quantity {
        flex: 0 0 35%;
      }

      .item-total {
        flex: 0 0 27%;
      }
    }
  }
  @include media.mediumMobile {
    .cart-items {
      align-items: stretch;
      flex-direction: column;
      .item-price {
        flex: 0 0 0;
        margin-bottom: 1em;

        & span {
          display: flex;
        }
      }

      .item-quantity {
        flex: 0 0 0;
        margin-bottom: 1em;

        & span {
          display: flex;
        }
      }

      .del-btn {
        flex: 0 0 0;
        & span {
          display: flex;
        }
      }
    }
  }
  @include media.mobile {
    .cart-wrapper {
      display: block;
    }

    .order-summary .checkout .right-arrow {
      display: none;
    }
  }
}
