@use "../abstracts/colors";
@use "../abstracts/fonts";
@use "../layout/flex";
@use "../layout/grid";
@use "../components/media";

#contact {
  padding: 8em 0 4em 0;

  & h1 {
    margin-bottom: 0.5em;
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: map-get(fonts.$font-weight, semi-bold);
    color: colors.$primary-color;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .contact-grid {
    @include grid.grid(repeat(2, 1fr), none, none, 100px);
    .contact-vector {
      & img {
        width: 580px;
        max-width: 100%;
        object-fit: cover;
        margin-bottom: 1.5em;
      }
      .contact-icon {
        @include flex.flex(center, center, row);
        flex-wrap: wrap;
        & > div {
          @include flex.flex(center, center, column);
          margin-bottom: 1em;
          .icon-contact {
            font-size: 1.75rem;
            color: colors.$secondary-color;
          }
        }
        & div:nth-child(2) {
          margin: 0 0.8em 1em 0.8em;
        }
      }
    }

    .contact-form {
      & h4 {
        margin-bottom: 0.8em;
        font-size: 1.25rem;
        font-weight: map-get(fonts.$font-weight, semi-bold);
        color: colors.$primary-color;
      }

      .input-field {
        position: relative;
        margin-bottom: 1.5em;
      }

      .contact-btn {
        width: 100%;
        box-shadow: none;
      }
    }
  }

  @include media.portraitTablet {
    .contact-grid {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}
