@use "../abstracts/colors";
@use "../abstracts/fonts";
@use "../layout/flex";
@use "../layout/grid";

#contact {
  padding: 8em 0;

  & h1 {
    margin-bottom: 0.5em;
    font-size: 4rem;
    font-weight: map-get(fonts.$font-weight, semi-bold);
    color: colors.$primary-color;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .contact-grid {
    @include grid.grid(1fr 1fr, none, none, 100px);
    .contact-vector {
      & img {
        width: 580px;
        max-width: 100%;
        object-fit: cover;
        margin-bottom: 4em;
      }

      .contact-details {
        @include flex.flex(center, stretch, column);
        .contact-icon {
          @include flex.flex(space-around, center, row);
          .icon-contact {
            font-size: 1.75rem;
            color: colors.$secondary-color;
          }
        }
        .contact-text {
          @include flex.flex(space-between, center, row);

          & p {
            font-size: 1rem;
            font-weight: map-get(fonts.$font-weight, regular);
            color: colors.$primary-color;
          }
        }
      }
    }

    .contact-form {
      & h4 {
        margin-bottom: 0.8em;
        font-size: 1.25rem;
        font-weight: map-get(fonts.$font-weight, semi-bold);
        color: colors.$primary-color;
      }

      .input-field {
        margin-bottom: 1em;
      }

      .contact-btn {
        width: 100%;
        box-shadow: none;
      }
    }
  }
}
