@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../layout/flex';
@use '../layout/grid';

#confirmation {
  padding: 8em 0;

  & .confirmation-container {
    @include flex.flex(center, center, column);
  }
  & h1 {
    margin-bottom: 0.5em;
    font-size: 4rem;
    font-weight: map-get(fonts.$font-weight, semi-bold);
    color: colors.$primary-color;
    letter-spacing: 0.1em;
  }
  & img {
    margin-bottom: 1em;
    max-width: 100%;
    height: auto;
  }

  & .confirmation-details {
    margin-bottom: 3em;
    & .confirmation-notif {
      font-size: 1.5rem;
      font-weight: map-get(fonts.$font-weight, medium);
      color: colors.$primary-color;
    }
    & p {
      font-size: 1.125rem;
      font-weight: map-get(fonts.$font-weight, regular);
      color: colors.$primary-color;
    }
  }
  & .button-container {
    margin-bottom: 6.5em;
    & .left-btn {
      display: inline-block;
      width: 235px;
      max-width: 100%;
      margin-right: 2em;
      white-space: nowrap;
      & .left-arrow {
        position: relative;
        top: 3px;
        left: -7px;
        height: 100%;
      }
    }
    & .right-btn {
      display: inline-block;
      width: 235px;
      max-width: 100%;
      white-space: nowrap;
      & .track-icon {
        position: relative;
        top: 3px;
        left: -3px;
        height: 100%;
      }
    }
  }
}
