@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../layout/flex';
@use '../layout/grid';

.receipt-logo {
  width: 120px;
  object-fit: cover;
}
.item-img {
  width: 70px;
  margin-right: 1em;
  object-fit: cover;
}
table {
  border-collapse: collapse;
}
.order {
  padding: 1em 0;
  border-bottom: 1px solid colors.$disabled-color;
}
#receipt {
  width: 100%;
  .heading {
    & h1 {
      margin-top: -0.2em;
      margin-left: 0.04em;
      font-size: 1.125rem;
      font-weight: map-get(fonts.$font-weight, regular);
    }
    .order-id {
      float: right;
      margin-top: -7em;
      width: 40%;
    }
  }
  .customer {
    margin-top: 5em;
    margin-bottom: 1em;
  }
  .customer-header {
    font-weight: bold;
  }

  th,
  td {
    text-align: left;
  }
  .address {
    padding-right: 4em;
  }
  .sf {
    padding-right: 4em;
  }
  .items {
    width: 50%;
  }
  .price {
    padding-right: 3em;
  }
  .qty {
    text-align: center;
    padding-right: 3em;
  }
  .total {
    margin-top: 1.5em;
    float: right;
    width: 25%;
  }
}
.closing-note {
  margin-top: 5em;
  text-align: center;
}
.company-name {
  text-align: center;
}
