@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../layout/flex';
@use '../layout/grid';
@use '../components/banner';
@use '../components/media';

#shop {
  padding-top: 5em;
  .no-data {
    margin-top: 2em;
    & img {
      width: 500px;
      max-width: 100%;
      height: auto;
      margin-bottom: 1em;
      object-fit: cover;
    }

    & p {
      font-size: clamp(1rem, 3vw, 1.5rem);
      font-weight: map-get(fonts.$font-weight, medium);
      color: colors.$primary-color;
      text-align: center;
    }
  }
  .category-label {
    font-size: 1rem;
    font-weight: map-get(fonts.$font-weight, regular);
    letter-spacing: normal;
  }
  .shop-grid {
    @include grid.grid(200px 1fr, none, none, 0);
    margin: 2em 0 6em 0;
  }
  .filter {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5em;

    .search-bar {
      width: 250px;
      padding-right: 2em;
    }
    .search-icon {
      position: absolute;
      top: 30%;
      right: 10px;
      font-size: 1.125rem;
      color: colors.$light-color;
      transform: translateY(-50%);
      transition: color 0.5s ease;
    }

    &:focus-within .search-icon {
      color: colors.$secondary-color;
    }
  }
  .categories {
    & p {
      @include flex.flex(space-between, center, row);
      margin-top: 0.3em;
      font-size: 1.25rem;
      font-weight: map-get(fonts.$font-weight, medium);
      color: colors.$primary-color;

      .plus-icon {
        display: none;
        font-size: 1.75rem;
        color: colors.$secondary-color;
        transition: transform 0.5s ease;
      }
    }
    & ul {
      list-style: none;
    }
    .category-list {
      padding-top: 0.8em;

      & li {
        padding: 0.3em 0;
        font-size: 1rem;
        font-weight: map-get(fonts.$font-weight, regular);
        color: colors.$primary-color;
        user-select: none;
        cursor: pointer;

        &:hover {
          color: colors.$accent-color;
        }
      }
    }
  }
  .product-container {
    @include grid.grid(repeat(auto-fit, minmax(20rem, 1fr)), none, none, 0);
    .products {
      position: relative;
      justify-self: center;
      margin: 1.5em 0;
      height: fit-content;

      .product-label {
        position: absolute;
        top: 0;
        display: inline-block;
        padding: 0.1em 0.5em;
        font-size: 0.75rem;
        background: colors.$sale-color;
        color: colors.$text-color;
        border-radius: 5px;
        text-transform: uppercase;
      }
      & img {
        width: 250px;
        object-fit: cover;
        margin-bottom: 1em;
      }
      .details {
        @include flex.flex(center, center, column);
        & a {
          font-size: 1.25rem;
          font-weight: map-get(fonts.$font-weight, semi-bold);
          color: colors.$primary-color;
          text-decoration: none;
          transition: color 0.5s ease;

          &:hover {
            color: colors.$accent-color;
          }
        }
        & .color {
          margin-bottom: 0.3em;
          font-size: 1.125rem;
          font-weight: map-get(fonts.$font-weight, regular);
          color: colors.$primary-color;
        }
        .price-container {
          @include flex.flex(center, center, row);
          .price {
            @include flex.flex(flex-start, center, row);
            font-size: 1.125rem;
            font-weight: map-get(fonts.$font-weight, medium);
            color: colors.$primary-color;
            .peso-sign {
              margin-right: 0.2em;
              color: colors.$primary-color;
            }
          }
          .sales-amount {
            margin-left: 0.5em;
            color: colors.$light-color;
            text-decoration: line-through;
          }
        }
      }
    }
  }
  .load-more {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
  }

  @include media.portraitTablet {
    .shop-grid {
      grid-template-columns: 1fr;
    }
    .product-container {
      grid-row: 2/3;
    }
    .load-more {
      grid-column: 1/2;
    }
    .categories {
      margin-bottom: 1em;
      border-top: 1px solid colors.$disabled-color;
      border-bottom: 1px solid colors.$disabled-color;
      & p {
        padding-top: 0.8em;
        margin-top: 0;
        cursor: pointer;

        .plus-icon {
          display: flex;
        }
      }

      .category-list {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s ease;

        & li:last-child {
          margin-bottom: 1em;
        }
      }

      &.active .category-list {
        max-height: 300px;
        animation: fade 1.5s ease-in-out;
      }
      &.active p .plus-icon {
        transform: rotate(45deg);
      }
    }
  }
  @include media.bigMobile {
    .filter .search-bar {
      width: 100%;
    }
    .product-container {
      grid-template-columns: 1fr;
    }
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
