@use "../abstracts/colors";
@use "../abstracts/fonts";
@use "../layout/flex";
@use "../layout/grid";

#track-order {
  padding: 8em 0 4em 0;

  .wrapper {
    @include flex.flex(center, center, row);
    padding: 2em 0;

    .card-body {
      position: relative;
      overflow: hidden;
      @include grid.grid(1fr 2fr, none, none, 0);
      width: 100%;
      max-width: 1196px;
      height: fit-content;
      background: colors.$text-color;
      border-radius: 15px;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);

      .progress-bar {
        grid-column: 1/2;
        grid-row: 1/4;
        padding: 1em;
        @include flex.flex(flex-start, center, row);
        border-right: 1px solid colors.$disabled-color;

        & ul {
          position: relative;
          padding: 0 2em 0 8em;
          list-style: none;

          & li {
            padding: 2.5em 0;

            & a {
              position: relative;
              font-size: 1.25rem;
              font-weight: map-get(fonts.$font-weight, medium);
              text-decoration: none;
              white-space: nowrap;
              color: colors.$primary-color;
              &:not(.last, .cancelled):after {
                content: "";
                position: absolute;
                top: 0;
                left: -41px;
                width: 4px;
                height: 133px;
                background: colors.$disabled-color;
              }
              &.active::after {
                background: colors.$secondary-color;
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -50px;
                z-index: 1;
                width: 22px;
                height: 22px;
                background: colors.$text-color;
                border: 4px solid colors.$disabled-color;
                border-radius: 50%;
              }

              &.active::before {
                background: colors.$secondary-color;
                border: 4px solid colors.$secondary-color;
              }
            }
          }
        }
      }

      .user-details {
        grid-column: 2/3;
        grid-row: 1/2;
        @include flex.flex(space-between, center, row);
        flex-wrap: wrap;
        padding: 1em;
        border-bottom: 1px solid colors.$disabled-color;

        .order-details {
          & p {
            font-size: 1.125rem;
            font-weight: map-get(fonts.$font-weight, medium);
            color: colors.$primary-color;
          }
        }

        .view-details {
          & p {
            font-size: 1.125rem;
            font-weight: map-get(fonts.$font-weight, medium);
            color: colors.$accent-color;
            text-decoration: none;
            user-select: none;
            cursor: pointer;
            transition: color 0.5s ease;

            &:hover {
              color: colors.$secondary-color;
            }
          }
        }
      }

      .item-details {
        grid-column: 2/3;
        grid-row: 2/3;
        @include flex.flex(space-between, center, row);
        flex-wrap: wrap;
        padding: 1em;

        .items {
          .orders {
            @include flex.flex(flex-start, center, row);
            margin-bottom: 1em;

            & img {
              width: 110px;
              object-fit: cover;
              margin-right: 1em;
              padding: 0.5em;
              background: #e5e5e5;
              border-radius: 5px;
            }

            .order-details {
              & h4 {
                font-size: 1.25rem;
                font-weight: map-get(fonts.$font-weight, semi-bold);
                color: colors.$primary-color;
              }

              & p {
                font-size: 0.875rem;
                font-weight: map-get(fonts.$font-weight, regular);
                color: colors.$primary-color;
              }

              .price-container {
                @include flex.flex(flex-start, center, row);
                & .peso-sign {
                  width: 18px;
                  height: 20px;
                  color: colors.$primary-color;
                }
                .price {
                  font-size: 1.125rem;
                  font-weight: map-get(fonts.$font-weight, regular);
                  margin-right: 0.3em;
                  color: colors.$primary-color;
                }
                .qty {
                  font-size: 0.875rem;
                  font-weight: map-get(fonts.$font-weight, regular);
                  color: colors.$primary-color;
                }
              }
            }
          }
        }

        .billing-statement {
          .payments {
            & h4 {
              @include flex.flex(flex-end, center, row);
              font-size: 1.25rem;
              font-weight: map-get(fonts.$font-weight, semi-bold);
              color: colors.$primary-color;
            }
            .price-container {
              @include flex.flex(flex-end, center, row);
              margin-bottom: 0.5em;
              & .peso-sign {
                width: 18px;
                height: 20px;
                color: colors.$primary-color;
              }
              .price {
                font-size: 1.125rem;
                font-weight: map-get(fonts.$font-weight, regular);
                margin-right: 0.3em;
                color: colors.$primary-color;
              }
            }
          }
        }
      }

      .buttons {
        margin-left: auto;
        padding: 1em;

        .cancel-btn {
          z-index: 1;
          padding: 0.75em 1.5em;
          margin-right: 1em;
          white-space: nowrap;
        }
        .disabled-btn {
          background: colors.$disabled-color;
          color: colors.$text-color;
          pointer-events: none;

          &::before {
            border: 0;
          }
        }
        .back-btn {
          white-space: nowrap;
          .left-arrow {
            position: relative;
            top: 3px;
            left: -7px;
          }
        }
      }
    }
  }
}
