// colors
$primary-color: #2c3037;
$light-color: #545454;
$secondary-color: #ed6a4c;
$accent-color: #ff7c50;
$body-color: #f4f4f4;
$disabled-color: #c4c4c4;
$banner-color: #e6e8ec;
$text-color: #fff;
$validation-color: #ec2d40;
$processing-color: #78909c;
$shipped-color: #428bc1;
$success-color: #57b894;
$sale-color: #df5d7d;
$pending-color: #fbbc05;
