@use '../abstracts/colors';
@use '../abstracts/fonts';
@use './flex';
@use '../components/buttons';

.features {
  @include flex.flex(flex-start, center, column);
  padding: 2em 0 4em 0;
  & h1 {
    font-size: 4rem;
    font-weight: map-get(fonts.$font-weight, semi-bold);
    color: colors.$primary-color;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .carousel-container {
    position: relative;
    margin: 4em 0;
    .carousel-box {
      margin: 0 2em;
      user-select: none;
      transition: all 0.25s ease;

      & img {
        width: 300px;
        object-fit: cover;
        margin-bottom: 0.5em;
      }

      .details {
        @include flex.flex(center, center, column);
        & a {
          font-size: 1.25rem;
          font-weight: map-get(fonts.$font-weight, semi-bold);
          color: colors.$primary-color;
          text-decoration: none;
          transition: color 0.5s ease;

          &:hover {
            color: colors.$accent-color;
          }
        }
        & .color {
          font-size: 1.125rem;
          font-weight: map-get(fonts.$font-weight, regular);
          color: colors.$primary-color;
        }
        .price {
          @include flex.flex(flex-start, center, row);
          font-size: 1.125rem;
          font-weight: map-get(fonts.$font-weight, medium);
          color: colors.$primary-color;
          .peso-sign {
            margin-right: 0.2em;
            color: colors.$primary-color;
          }
        }
      }
    }
  }
}
