@use '../abstracts/colors';
@use '../abstracts/fonts';
@use './flex';

// default input
.input {
  width: 380px;
  max-width: 100%;
  padding: 0.8em 1em;
  font-size: 1rem;
  font-weight: map-get(fonts.$font-weight, regular);
  color: colors.$primary-color;
  background: none;
  outline: none;
  border: 1px solid colors.$light-color;
  border-radius: 5px;
  caret-color: colors.$accent-color;
  transition: all 0.5s ease;
  &::placeholder {
    color: colors.$light-color;
  }
  &:hover:not(.disabled) {
    border-color: colors.$accent-color;
  }
  &:focus:not(.disabled) {
    border-color: colors.$secondary-color;
  }
  &:invalid {
    border-color: colors.$validation-color;
  }
}
// input disabled
.disabled {
  background: colors.$banner-color;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}
// password input
.password {
  padding-right: 3em;
}
// input for footer
.input-for-footer {
  max-width: 300px;
  width: 100%;
  padding-right: 4.5em;
  background: #e5e5e5;
  border: 2px solid #e5e5e5;
  //&:focus + button {
   // opacity: 1;
    //pointer-events: all;
    //border-color: colors.$secondary-color;
  //}
}
// input discount
.input-discount {
  padding-right: 6.5em;
  &:focus + button {
    opacity: 1;
    pointer-events: all;
    border-color: colors.$secondary-color;
  }
}

// quantity input
.qty-input {
  width: 45px;
  padding: 1em 0;
  font-size: 0.875rem;
  font-weight: map-get(fonts.$font-weight, regular);
  text-align: center;
  color: colors.$primary-color;
  background: none;
  outline: none;
  border: 1px solid colors.$light-color;
  border-radius: 0;
  border-right: none;
  border-left: none;
  appearance: textfield;
  pointer-events: none;
  cursor: default;

  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}
// .qty-input {
//   width: 45%;
//   padding: 1em 0;
//   font-size: 0.875rem;
//   font-weight: map-get(fonts.$font-weight, regular);
//   text-align: center;
//   color: colors.$primary-color;
//   background: none;
//   outline: none;
//   border: 1px solid colors.$light-color;
//   border-radius: 5px;

//   &::-webkit-inner-spin-button {
//     opacity: 1;
//   }
//   &::-webkit-outer-spin-button {
//     opacity: 1;
//   }
// }
// .cart-qty-input {
//   width: 150px;
//   padding: 1em 0;
//   font-size: 0.875rem;
//   font-weight: map-get(fonts.$font-weight, regular);
//   text-align: center;
//   color: colors.$primary-color;
//   background: none;
//   outline: none;
//   border: 1px solid colors.$light-color;
//   border-radius: 5px;
// }
textarea {
  padding: 1em;
  font-family: fonts.$font-stack;
  font-size: 0.875rem;
  font-weight: map-get(fonts.$font-weight, regular);
  color: colors.$primary-color;
  outline: none;
  background: none;
  resize: none;
  border: 1px solid colors.$disabled-color;
  border-radius: 5px;
  caret-color: colors.$accent-color;
  transition: all 0.5s ease;
  &:hover {
    border-color: colors.$accent-color;
  }
  &:focus {
    border-color: colors.$secondary-color;
  }
}
.note-input {
  width: 300px;
  height: 200px;
}
.custom-select {
  position: relative;
}

.select-menu {
  color: colors.$light-color;
  cursor: pointer;
  appearance: none;
}
.dropdown {
  position: absolute;
  top: 0;
  right: 2%;
  // padding: 1em;
  height: 100%;
  color: colors.$light-color;
  cursor: pointer;
}

// checkbox
.custom-checkbox {
  .checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;

    &:hover + label::before {
      border-color: colors.$accent-color;
    }
    &:checked + label::before {
      content: "\002714";
      @include flex.flex(center, center, row);
      border: 0;
      background: colors.$secondary-color;
      color: colors.$text-color;
    }
  }
  label {
    display: flex;
    font-size: 0.875rem;
    font-weight: map-get(fonts.$font-weight, regular);
    color: colors.$primary-color;
  }
  label::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    border: 1px solid colors.$light-color;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}
