@use '../abstracts/colors';
@use '../abstracts/fonts';
@use './flex';
@use '../components/buttons';
@use '../components/media';

.scrolled {
  background: colors.$primary-color;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.bg {
  @extend .scrolled;
}

#main-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  // height: auto;
  padding: 1em 0;
  transition: all 0.5s ease-in;

  .logo {
    flex: 0 0 15%;

    & img {
      display: flex;
      width: 85px;
      margin-top: 0.5em;
      object-fit: cover;
      transition: transform 300ms ease-out;

      &:hover {
        transform: rotate(-5deg);
      }
    }
  }

  .nav-links {
    @include flex.flex(center, center, row);
    list-style: none;
  }

  .nav-link {
    position: relative;
    display: block;
    margin: 0 2em;
    padding: 0.1em 0;
    font-size: 1.25rem;
    font-weight: map-get(fonts.$font-weight, medium);
    color: colors.$text-color;
    text-decoration: none;

    &:not(.active)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 2px solid colors.$secondary-color;
      transform: scale(0, 1);
      transition: transform 300ms ease-out;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
  .active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid colors.$secondary-color;
  }

  .side-menu {
    @include flex.flex(flex-end, center, row);
    flex: 0 0 15%;
  }
  .icon-menu {
    @include flex.flex(center, center, row);
    & > div {
      display: flex;
      align-items: center;

      &:not(.profile-menu) {
        margin-right: 1.5em;
      }
    }
  }

  .icon-link.visited .cart-icon {
    color: colors.$secondary-color;
  }
  .search-icon {
    width: 23px;
    height: 23px;
    color: colors.$text-color;
    transition: color 300ms ease-in-out;
    cursor: pointer;
    &:hover:not(.visited) {
      color: colors.$accent-color;
    }
  }
  .shopping-container {
    position: relative;
  }

  .cart-icon {
    display: flex;
    @extend .search-icon;
  }
  .counter {
    position: absolute;
    top: -45%;
    right: -45%;
    @include flex.flex(center, center, row);
    width: 20px;
    height: 20px;
    font-size: 0.875rem;
    color: colors.$text-color;
    background: colors.$secondary-color;
    border-radius: 50%;
  }
  .user-icon {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 0.3em;
    color: colors.$text-color;
    transition: color 300ms ease-in-out;
    cursor: pointer;
  }

  .arrow {
    align-self: center;
    width: 20px;
    height: 20px;
    margin-right: -1em;
    color: colors.$text-color;
    transition: color 300ms ease-in-out;
    cursor: pointer;
  }
  .profile-menu {
    display: flex;
    justify-content: flex-end;

    .hover {
      display: flex;
      &:hover .user-icon {
        color: colors.$accent-color;
      }
      &:hover .arrow {
        color: colors.$accent-color;
      }
    }

    .menu {
      display: none;
      position: absolute;
      top: 110px;
      width: 170px;
      background: #f9f9f9;
      padding: 1em 1.5em;
      border-radius: 5px;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
      list-style: none;
      &.active {
        display: block;
      }
      &::before {
        content: "";
        position: absolute;
        top: -19px;
        left: 140px;
        width: 20px;
        height: 20px;
        border: 10px solid;
        border-color: transparent transparent #f9f9f9 transparent;
      }
      & li {
        margin-bottom: 0.5em;
      }
      & li:last-child {
        margin-bottom: 0;
      }
      & li a {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: map-get(fonts.$font-weight, medium);
        text-decoration: none;
        color: colors.$primary-color;
        transition: color 0.5s ease;
        &:hover {
          color: colors.$accent-color;
        }
        &:hover .iconify {
          color: colors.$accent-color;
        }
      }
      .iconify {
        width: 20px;
        height: 20px;
        margin-right: 1em;
        color: colors.$light-color;
        cursor: pointer;
        transition: color 0.5s ease;
      }
    }
  }

  @include media.bigLaptop {
    .logo img {
      width: 80px;
    }
    .nav-link {
      font-size: 1.125rem;
    }
    .search-icon {
      width: 20px;
      height: 20px;
    }
    .user-icon {
      width: 22px;
      height: 22px;
    }
    .arrow {
      width: 18px;
      height: 18px;
    }
    .outline-primary-btn {
      font-size: 1rem;
    }
  }
  @include media.landscapeTablet {
    .logo img {
      width: 85px;
    }
    .search-icon {
      width: 23px;
      height: 23px;
    }
    .user-icon {
      width: 25px;
      height: 25px;
    }
    .arrow {
      width: 20px;
      height: 20px;
    }
    .outline-primary-btn {
      font-size: 1.125rem;
    }
    .line1,
    .line2,
    .line3 {
      width: 28px;
      height: 3px;
      margin: 5px;
      background-color: #fff;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
    }
    .burger-btn {
      position: relative;
      z-index: 2;
      margin-left: 1.3em;
      cursor: pointer;

      &.open .line1 {
        transform: rotate(45deg) translate(5px, 6px);
      }
      &.open .line2 {
        transform: translateX(50px);
        background: transparent;
      }
      &.open .line3 {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @include flex.flex(space-evenly, center, column);
      width: 100%;
      min-height: 100vh;
      background: colors.$primary-color;
      clip-path: circle(50px at 100% -20%);
      transition: all 1s ease-out;
      pointer-events: none;

      & .nav-link {
        font-size: 1.75rem;
      }

      &.open {
        clip-path: circle(100% at center);
        pointer-events: all;
      }

      & li {
        opacity: 0;
      }
      & li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      & li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      & li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      & li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
      }
      & li:nth-child(5) {
        transition: all 0.5s ease 1s;
      }
      & li.fade {
        opacity: 1;
      }
    }
  }
  @include media.bigMobile {
    .login-outline-btn {
      display: none;
    }
    .login-nav {
      display: block;
    }
    .nav-links {
      & .nav-link {
        font-size: 1.5rem;
      }
    }
    .outline-primary-btn {
      padding: 0.8em 5em;
      font-size: 1.25rem;
    }
  }
  @include media.mobile {
    .logo {
      & img {
        width: 80px;
      }
    }
    .icon-menu > div {
      margin-right: 0.8em;
    }
    .search-icon {
      width: 20px;
      height: 20px;
    }
    .user-icon {
      width: 22px;
      height: 22px;
    }
    .arrow {
      width: 18px;
      height: 18px;
      margin-right: -0.8em;
    }
  }
}
