@use '../abstracts/colors';
@use '../abstracts/fonts';
@use './flex';
@use '../components/media';

.showcase {
  width: 100%;
  min-height: 100%;
  padding-top: 6em;
  background: radial-gradient(
    62.24% 106.45% at 108.33% 100.38%,
    #ed6a4c 0%,
    #2c3037 100%
  );
  background-size: 100% 200%;
  animation: movingGradient 5s linear infinite alternate;

  .flex-showcase {
    @include flex.flex(space-between, center, row);

    .hero {
      align-self: stretch;
      & img {
        width: 100%;
        max-width: 580px;
        height: 100%;
        object-fit: cover;
        filter: drop-shadow(14px 0px 16px rgba(0, 0, 0, 0.25));
      }
    }
    .showcase-text {
      & h1 {
        font-size: 6.75rem;
        font-weight: map-get(fonts.$font-weight, extra-bold);
        background: linear-gradient(279.15deg, #ffffff -7.93%, #ed6a4c 113.09%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.045em;
        line-height: 132px;
        margin-bottom: 0.2em;
        & span {
          display: block;
        }
      }
      & p {
        font-size: 1.45rem;
        color: colors.$text-color;

        & span {
          display: block;
        }
      }
      & .cta {
        margin-top: 3em;
      }
    }
    @include media.laptop {
      .showcase-text h1 {
        font-size: clamp(3.25rem, 7vw, 6.75rem);
      }
      .showcase-text p {
        font-size: 1.25rem;
      }
    }
    @include media.landscapeTablet {
      align-items: stretch;
      flex-direction: column;
      .showcase-text {
        margin-bottom: 1.5em;

        & h1 {
          font-size: 6.75rem;
        }

        & p {
          font-size: 1.45rem;
        }
      }

      .hero {
        align-self: center;
      }
    }
    @include media.bigMobile {
      .showcase-text {
        & h1 {
          font-size: 5.125rem;
          line-height: 100px;
        }

        & p {
          font-size: 1.25rem;
        }
      }
    }
    @include media.smallMobile {
      .showcase-text {
        & h1 {
          font-size: 3rem;
          line-height: 60px;
        }

        & p {
          font-size: 0.875rem;
        }
      }
    }
  }
}
@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
